/* start global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body { 
    direction: rtl !important; 
    font-family: "Noto Kufi Arabic", sans-serif; 
    font-optical-sizing: auto; 
    background-color: #00B3C5 ;
    font-style: normal; 
    background: linear-gradient(to right, #00405eb7, #00405eb7), url('../images/body-image.jpg'); 
    background-size: cover; 
    background-position: top; 
}

li {
    list-style: none !important;
}

a {
    text-decoration: none;
}

:root {
    --main-color: ;
    --bg-color: ;
    --transition: ;
}

/* End global  */

/* start login  */
.all-login {

    background: linear-gradient(to right, #00405eb7, #00405eb7), url('../images/Login-Background.jpg');
    background-size: cover;
    background-position: top;
}

.btn-submit {
    background-color: #94F0FF !important;
    color: black !important;
    font-weight: 900;
}

.btn-submit-disable {
    background-color: #0c7a8b;
    color: #fff !important;
    font-weight: 900;
}

.all-login input {
    border: none !important;
    outline: none !important;
}

.all-login input:focus {
    border: none !important;
    outline: none !important;
}

/* End login  */
/* start side bar  */
.navbar {
    box-shadow: none !important;
}
.menu_bars-menuIcon {
    color: #000;
    background-color: #94F0FF;
    border-radius: 100%;
    padding: 5px;
    width: 40px !important;
    height: 40px !important;
    margin-top: 20px;
}
ol {
    padding: 0;
    margin: 0;
}
.menu_barss {
    display: flex;
}

.menu-bars {
    font-size: 2rem;
    background: none;
    color: #585757;
    padding: 0px 12px;
    transition: all .3s ease;
}
.menu-bars:hover {
    background-color: #000;
    border-radius: 50%;
    color: #fff;
}

.navbar-toggle {
    width: 100%;
    display: flex;
    position: relative;
    top: 10px;
    right: 160px;
}
.nav-menu {
    z-index: 50;
    overflow: scroll;
    background-color: #282828;
    width: 320px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    left: -100%;
    top: 0px;
    transition: 580ms;
    overflow-x: hidden;
}


.nav-menu.active {
    right: 0;
    transition: all .5s ease;
}

.nav-text {
    list-style: none;
    height: 50px;
}

.nav-text a:hover {
    background-color: #504e4e;
}

.nav-menu-items {
    width: 100%;
}



span {
    margin-right: 16px;
}

.nav-text a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 0 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-background{
    /* background: linear-gradient(to right, #00405eb7, #00405eb7), url('../images/header.jpg') !important;
    background-size: cover !important;
    background-position: top !important;
    height: 50px; */
}

.header2 {
    display: flex;
    align-items: center;
    background-color: rgb(18, 44, 65);
    /* justify-content: space-between; */
    width: 100%;
}

/*end media querry */

@media only screen and (max-width:992px) {
    .nav-menu {
        width: 250px;
        height: 100%;
    }

    .navbar-toggle {
        left: 170px
    }
}

/*end media querry */
/* End side bar  */
