/* start global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    direction: rtl !important;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #00B3C5;
    background: linear-gradient(to right, #00405eb7, #00405eb7), url('../images/body-image.jpg');
    background-size: cover;
    background-position: top;
}

li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

.text-info {
    color: #145978 !important;
}

:root {
    --main-color: ;
    --bg-color: ;
    --transition: ;
}

/* End global  */

/* start login  */
.all-login {
    background: linear-gradient(to right, #00405eb7, #00405eb7), url('../images/Login-Background.jpg');
    background-size: cover;
    background-position: top;
}

.btn-submit {
    background-color: #94F0FF !important;
    color: black !important;
    font-weight: 900;
}

.btn-submit-disable {
    background-color: #0c7a8b;
    color: #fff !important;
    font-weight: 900;
}

.all-login input {
    border: none !important;
    outline: none !important;
}

.all-login input:focus {
    border: none !important;
    outline: none !important;
}

/* End login  */

/* start side bar  */
.navbar {
    box-shadow: none !important;
}

.nav-link {
    padding: 5px 10px !important;
    transition: all .3s ease;
    font-size: 20px;
    margin: 10px;
}

.nav-link:hover {
    color: #004C6D !important;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.menu_bars-menuIcon {
    color: #000;
    background-color: #94F0FF;
    border-radius: 100%;
    padding: 5px;
    width: 40px !important;
    height: 40px !important;
    margin-top: 10px;
}

ol {
    padding: 0;
    margin: 0;
}

.menu_barss {
    display: flex;
}

.menu-bars {
    font-size: 2rem;
    background: none;
    color: #585757;
    padding: 0px 12px;
    transition: all .3s ease;
}

.menu-bars:hover {
    background-color: #000;
    border-radius: 50%;
    color: #fff;
}

.navbar-toggle {
    width: 100%;
    display: flex;
    position: relative;
    top: 10px;
    right: 160px;
}

.nav-menu {
    z-index: 50;
    overflow: scroll;
    background-color: #282828;
    width: 320px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    left: -100%;
    top: 0px;
    transition: 580ms;
    overflow-x: hidden;
}

.nav-menu.active {
    right: 0;
    transition: all .5s ease;
}

.nav-text {
    list-style: none;
    height: 50px;
}

.nav-text a:hover {
    background-color: #504e4e;
}

.nav-menu-items {
    width: 100%;
}

.nav-text a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 0 16px;
}

.header2 {
    display: flex;
    align-items: center;
    width: 100%;
}

@media(max-width:576px) {

    .nav-menu {
        width: 100%;
    }

    .navbar-toggle {
        right: 190px;
    }
}

/*start media querry */

@media only screen and (max-width:992px) {

    .navbar-toggle {
        left: 170px
    }

    .navtext {
        display: none !important;
    }

    .subName {
        font-size: 1.5rem !important;
    }
}

/*end media querry */

/* End side bar  */

/* start my account  */
.myacount {
    height: auto;
    background-color: #f9f9f9;
    padding-bottom: 100px;
}

.title-class {
    background-color: #004C6D;
    padding: 10px;
    border-top: 5px #fff solid;
    color: #fff;
}

.tabs {
    overflow: "auto" !important;
}

.student_name {
    width: 27%;
    border-radius: 50%;
    padding: 28px;
    position: absolute;
    top: -72px;
    left: 50%;
    z-index: 99;
    background-color: #94f0ff;
    color: #000;
}

.subName {
    font-size: 2.5rem;
}

/* End my account  */

/* start booking  */
.booking .box {
    height: 180px;
    border-radius: 20px;
    background-color: rgba(221, 219, 219, 0.726);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
    margin-bottom: 30px;
    margin-left: 10px;
}

.booking .box:hover {
    background-color: #fff;
    transform: scale(1.1);
}

.booking .box h4 {
    font-size: 30px;
    font-weight: 600;
}

.booking .box .icon {
    background-color: #94F0FF;
    border-radius: 100%;
    color: #000;
    padding: 10px;
}

/* Add this CSS to your stylesheet */
.box_hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.box_hover:hover {
    filter: blur() !important;
    transform: scale(1.05);

}

.login_hover:hover {
    background-color: #4494e9 !important;
    /* Example color, adjust as needed */

}

.box_hover h6 {
    transition: font-weight 0.3s ease;
}

.box_hover:hover h6 {
    font-weight: bold;
}

/* End booking  */

/* start home  */
.home {
    padding-bottom: 30px;
}

.home .box {
    position: relative;
}

.home .box,
.home .box h4 {
    border-radius: 20px;
}

.home .box h6 {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.home .home-login {
    border-radius: 10px;
    background-color: #004C6D;
    padding: 0 !important;
}

.home .home-login .fa-user,
.home .home-login .fa-credit-card {
    font-size: 30px;
    padding: 25px;
    border-bottom-left-radius: 20px;
    background-color: #94F0FF;
    transition: all .3s ease !important;
}

.home .home-login .fa-angle-right {
    color: white;
    transition: all .3s ease !important;
    margin-left: 10px !important;
}

.home .home-login:hover .fa-angle-right {
    margin-left: 20px !important;
}

.home .home-login:hover .fa-user,
.home .home-login:hover .fa-credit-card {
    background-color: #fff;
}

/* End home  */

/* start classes  */
.classes .css-1aquho2-MuiTabs-indicator {
    display: none !important;
}

/* End classes  */

/* start allclasses  */
.allclasses {
    background-color: #f9f9f9;

}

.classes {
    background-color: #F9F9F9 !important;
}

.allclasses {
    /* padding-right: 100px;
    padding-left: 100px; */
    padding-bottom: 30px;
}

.allclasses-img {
    background-image: url('../images/swim-logo.png');
    background-position: center;
    background-size: 50% !important;
    background-color: #94F0FF;
    height: 200px !important;
}

.allclasses-open {
    font-size: 9px;
    top: 27px;
    left: 25px;
}

.white-div {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .5s ease;
}

.all-classes-col:hover .white-div {
    background-color: #94F0FF !important;
    transform: scale(1.05);
}

.allclasses-card:hover {
    transform: scale(1.05);
}

.allclasses-card {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    transition: all .5s ease !important;
}

.allclasses-watch:hover {
    text-decoration: underline !important;
}

@media(max-width:567px) {
    .allclasses {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
}

/* End allclasses  */

/* start chose clases  */
.btn-edit {
    background-color: #004C6D !important;
    color: #fff !important;
    padding: 9px 75px !important;
    font-size: 20px !important;
    border-radius: 27px !important;
}

.btn-edit2 {
    background-color: rgb(237 236 236) !important;
    color: #000 !important;
    padding: 9px 85px !important;
    font-size: 20px !important;
    border-radius: 27px !important;
}

/* End chose clases  */

/* start class details  */
.select-student-btn {
    background-color: #94F0FF !important;
    padding: 9px 85px !important;
    font-size: 20px !important;
    border-radius: 27px !important;
}

.details {
    background-color: #F9F9F9;
}

.details-title h4 {
    text-align: center;
    position: relative;
    color: #254450;
    font-size: 18px;
}

.details-title h4::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 3px;
    top: 30px;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #254450;
}

.description-details p {
    font-size: 14px !important;

}

@media(max-width:567px) {
    .select-student-btn {
        width: 100% !important;
        font-size: 16px !important;
    }

    .alldetails p {
        font-size: 13px;
    }

    .details-hr {
        margin: 20px !important;
    }

    .description-details p {
        font-size: 12px !important;

    }
}

/* End class details  */

/* start add-student  */

.add-student {
    background-color: #F9F9F9 !important;
}

.add-student form .gender {
    margin-left: 160px !important;
}

.add-student form .condition-health {
    margin-left: 65px !important;
}

.add-student form input,
.input-group-text,
.add-student form select {
    background-color: #d1cfcfab;
    border: none;
}


.special-info {
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #b6b3b33d;
}

@media (max-width:567px) {
    .add-student-btn {
        flex-direction: column !important;
    }

    .btn-edit {
        margin-left: 0 !important;
    }

    .add-student form label {
        font-size: 12px !important;
    }

    .add-student form h4 {
        margin: 20px 5px !important;
        font-size: 18px;
    }

    .add-student form .gender {
        margin-left: 75px !important;
    }

    .add-student form .condition-health {
        margin-left: 10px !important;
    }
}

@media (max-width:400px) {

    .add-student form .gender {
        margin-left: 40px !important;
    }
}

/* End add-student  */



.form-check {
    display: flex;
    align-items: center;
}

.form-check-label {
    margin-left: 8px;
    cursor: pointer;
}

.number-checkbox {
    position: relative;
    cursor: pointer;
}

.number-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.number-checkbox span {
    display: inline-block;
    width: 40px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 51%;
    padding: 10px 13px;
}

.number-checkbox input[type="checkbox"]:checked+span {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* start payment  */
.payment {
    box-shadow: 2px 2px 10px 2px #b6b3b33d;
    border-radius: 10px;
}

.payment-caption p {
    font-size: 14px;
}

.payment-btn {
    background-color: #5857574d !important;
    border-radius: 20px;
}

.payment-border .fa-plus {
    border: 1px solid rgba(128, 128, 128, 0.589);
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
}

.payment-border {
    width: 500px !important;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.329) !important;
}

.payment-border button {
    border: none;
    background-color: transparent;
    margin-bottom: 10px !important;
}

/* End payment  */